{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Django Multi Factor Authentication</title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
              integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
              crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css"
              integrity="sha512-N415hCJJdJx+1UBfULt+i+ihvOn42V/kOjOpp1UTh4CZ70Hx5bDlKryWaqEKfY/8EYOu/C2MuyaluJryK1Lb5Q=="
              crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
                integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
                crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.min.js"
                integrity="sha512-mp3VeMpuFKbgxm/XMUU4QQUcJX4AZfV5esgX72JQr7H7zWusV6lLP1S78wZnX2z9dwvywil1VHkHZAqfGOW7Nw=="
                crossorigin="anonymous"></script>
        <script defer src="{% static 'settings.js' %}"></script>
    </head>
    <body>
        {% include 'navigation.html' %}
        <div class="container">
            <div class="card my-5">
                <div class="card-header" style="text-align: center;">
                    <h5 style="margin-bottom: 0;">Settings</h5>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <div class="form-floating mb-3">
                                    <input type="text" name="firstName" id="firstName" placeholder="First Name"
                                           class="form-control" value="{{ user.first_name }}">
                                    <label for="firstName">First Name</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-floating mb-3">
                                    <input type="text" name="lastName" id="lastName" placeholder="Last Name"
                                           class="form-control" value="{{ user.last_name }}">
                                    <label for="lastName">Last Name</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-floating mb-3">
                                    <input type="email" name="email" id="email" placeholder="E-Mail Address"
                                           class="form-control" value="{{ user.email }}">
                                    <label for="email">E-Mail Address</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-md-flex" style="justify-content: flex-end;">
                            <button id="saveSettings" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>